.navbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7C1F6;
  color: #fff;
  width: 100%;
  height: 80px;
  a{
    text-decoration: none;
  }
}

  
  .profile {
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-name {
    font-weight: bold;
  }

  .icons {
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
  }
  .icons img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  