.inform{
    padding-left: 5rem;
    padding-top: 1.5rem;
}
.inform h1{
    color: #14238A;
}
.inform p{
    color: rgb(121, 121, 120);
}
.about_assi h1{
    font-size: 1.5rem;
}
.file_run{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: .3rem 1rem .3rem 1rem;
    width: 20rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}
.add_file {
   width: 180px;
}

.add_file h1 {
    margin-bottom: 20px;
}

.add_file input[type="file"] {
    
   display: none;
}

.add_file span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #fff;
    cursor: pointer;
}

.add_file span i {
    margin-left: 5px;
}