.main_assi{
    display: flex;
    flex-direction: column;
}
.cont_ass{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.subs-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 20px;
    width: 100%;
    height: 2rem;

}
.subs-container p{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}